{
  "openapi": "3.0.3",
  "info": {
    "title": "BITS Pay API",
    "description": "QRIS payment gateway — ubah QRIS static menjadi dinamis dengan kode unik per transaksi, auto-confirm via OCR.\n\n## Autentikasi\n\nSemua endpoint `/v1/*` butuh API key di header:\n\n```\nAuthorization: Bearer sk_xxxxxxxxxxxxxxxx\n```\n\nAPI key didapat saat membuat App di dashboard. Key full hanya ditampilkan sekali saat create/rotate.\n\n## Kode Unik\n\n`amount_due = amount + unique_code` (range `001`–`999`). Pelanggan membayar nominal `amount_due` persis.\n\n## Format Response\n\nSukses: `{ \"success\": true, \"data\": ... }`. Error: `{ \"success\": false, \"error\": { \"code\", \"message\" } }`.\n\n## Rate Limit\n\nHeader response: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`. Limit per tier: Free 10 req/s, Premium 100 req/s.\n\n## Guides\n\n- [Quickstart — alur integrasi end-to-end](/docs/quickstart.html)\n- [Webhook & verifikasi signature](/docs/webhook.html)",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.pay.bits.co.id" }],
  "tags": [
    { "name": "Charges", "description": "Buat transaksi QRIS dinamis" },
    { "name": "Payments", "description": "Cek status & konfirmasi pembayaran" },
    { "name": "Callbacks", "description": "Status delivery webhook per app" },
    { "name": "Health", "description": "Status API" }
  ],
  "paths": {
    "/v1/charges": {
      "post": {
        "tags": ["Charges"],
        "summary": "Create Charge",
        "description": "Buat transaksi baru. App diidentifikasi dari API key — `app_id` tidak perlu dikirim di body. `order_id` unik per app untuk transaksi aktif (idempotency).",
        "operationId": "createCharge",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChargeCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charge dibuat",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeCreateResponseWrapper" }
              }
            }
          },
          "400": {
            "description": "Request tidak valid (`validation_error`, `no_unique_code`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "401": {
            "description": "API key tidak valid / tidak dikenal (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "409": {
            "description": "`order_id` sudah dipakai untuk transaksi aktif (`duplicate_order`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "413": {
            "description": "Body melebihi batas (`payload_too_large`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "415": {
            "description": "Content-Type bukan application/json (`unsupported_media_type`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit / kuota transaksi harian/bulanan tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/charges/{id}/cancel": {
      "post": {
        "tags": ["Charges"],
        "summary": "Cancel Charge",
        "description": "Batalkan transaksi yang masih `pending`. Cancel = expire-now: status menjadi `expired` (tidak ada status khusus cancel) dan webhook `payment.expired` dikirim bila tier mengizinkan callback.",
        "operationId": "cancelCharge",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID transaksi (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaksi berhasil dibatalkan (status `expired`)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponseWrapper" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "404": {
            "description": "Transaksi tidak ditemukan / bukan milik app (`not_found`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "409": {
            "description": "Transaksi sudah final (bukan `pending`) (`invalid_status`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/callbacks": {
      "get": {
        "tags": ["Callbacks"],
        "summary": "List Callbacks",
        "description": "Daftar delivery webhook milik app (scoped dari API key). Filter via `payment_id` & `status`. Pagination via `page` & `per_page`.",
        "operationId": "listCallbacks",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "payment_id",
            "in": "query",
            "required": false,
            "description": "Filter per ID transaksi",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "$ref": "#/components/schemas/CallbackStatus" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar callback (terbaru dulu)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CallbackListResponseWrapper" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/callbacks/{id}/retry": {
      "post": {
        "tags": ["Callbacks"],
        "summary": "Retry Callback",
        "description": "Kirim ulang webhook yang berstatus `failed` secara manual. `attempt` tidak direset — retry manual tetap menghitung terhadap `max_attempts`.",
        "operationId": "retryCallback",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID callback (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Callback di-requeue (status `pending`)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CallbackResponseWrapper" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "404": {
            "description": "Callback tidak ditemukan / bukan milik app (`not_found`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "409": {
            "description": "Callback bukan status `failed` (`invalid_status`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/payments": {
      "get": {
        "tags": ["Payments"],
        "summary": "List Payments",
        "description": "Daftar transaksi milik app (scoped dari API key). `order_id` untuk lookup exact, `status` untuk filter. Pagination via `page` & `per_page`.",
        "operationId": "listPayments",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "description": "Lookup exact order_id",
            "schema": { "type": "string", "example": "ORD-001" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "$ref": "#/components/schemas/PaymentStatus" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar transaksi (terbaru dulu)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentListResponseWrapper" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get Payment Status",
        "description": "Ambil detail transaksi berdasarkan ID (scoped ke workspace pemilik API key).",
        "operationId": "getPayment",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID transaksi (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail transaksi",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponseWrapper" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "404": {
            "description": "Transaksi tidak ditemukan (`not_found`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/v1/payments/{id}/confirm": {
      "post": {
        "tags": ["Payments"],
        "summary": "Confirm Payment",
        "description": "Konfirmasi pembayaran dengan nominal yang dibayar (`amount` harus sama persis dengan `amount_due`) dan opsional bukti bayar untuk OCR. Request yang valid selalu dijawab `200` — cek `data.status` (`success` | `pending_review` | `failed`) dan `data.match_result`.",
        "operationId": "confirmPayment",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID transaksi (UUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/PaymentConfirmRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hasil konfirmasi — `data.status`: `success` (auto_confirm), `pending_review` (low_confidence), `failed` (mismatch / bukti tidak ada)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentConfirmResponseWrapper" }
              }
            }
          },
          "400": {
            "description": "Transaksi expired / status tidak valid / amount tidak valid / bukti bukan JPG-PNG (`expired`, `invalid_status`, `validation_error`, `invalid_proof`, `proof_too_large`)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "API key tidak valid (`unauthorized`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "404": {
            "description": "Transaksi tidak ditemukan (`not_found`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "409": {
            "description": "Bukti bayar sudah dipakai transaksi lain (`duplicate_hash`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "413": {
            "description": "Payload melebihi batas (`payload_too_large`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "415": {
            "description": "Content-Type bukan multipart/form-data atau application/x-www-form-urlencoded (`unsupported_media_type`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Rate limit tercapai (`rate_limited`)",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health Check",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API sehat",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key app, format `sk_...`. Contoh: `Authorization: Bearer sk_xxxxxxxxxxxxxxxx`"
      }
    },
    "schemas": {
      "ChargeCreateRequest": {
        "type": "object",
        "required": ["order_id", "amount"],
        "properties": {
          "order_id": {
            "type": "string",
            "minLength": 1,
            "description": "ID order dari sistem kamu. Unik per app untuk transaksi aktif (idempotency).",
            "example": "ORD-001"
          },
          "amount": {
            "type": "integer",
            "minimum": 100,
            "description": "Nominal transaksi dalam Rupiah (sebelum kode unik). Minimal 100.",
            "example": 150000
          },
          "currency": {
            "type": "string",
            "default": "IDR",
            "example": "IDR"
          },
          "description": {
            "type": "string",
            "example": "Pembayaran invoice #001"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Data tambahan bebas (disimpan sebagai JSON string)."
          }
        }
      },
      "ChargeCreateResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "example": "9b1f2c3e-..." },
          "amount": { "type": "integer", "example": 150000 },
          "amount_due": {
            "type": "integer",
            "description": "Nominal yang harus dibayar = `amount + unique_code`",
            "example": 150001
          },
          "unique_code": { "type": "integer", "minimum": 1, "maximum": 999, "example": 1 },
          "currency": { "type": "string", "example": "IDR" },
          "status": { "$ref": "#/components/schemas/PaymentStatus" },
          "qr_image": {
            "type": "string",
            "description": "QR code sebagai data URL base64 PNG",
            "example": "data:image/png;base64,..."
          },
          "qris_dynamic": {
            "type": "string",
            "description": "Payload QRIS dinamis (EMV)",
            "example": "000201010212..."
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "description": "Batas waktu pembayaran (default 15 menit)",
            "example": "2026-09-02T12:45:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-02T12:30:00Z"
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Objek transaksi publik (curated — field internal seperti proof/OCR tidak diekspos). Semua timestamp ISO-8601 UTC.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": ["string", "null"], "example": "ORD-001" },
          "amount": { "type": "integer", "example": 150000 },
          "unique_code": { "type": "integer", "example": 1 },
          "amount_due": { "type": "integer", "example": 150001 },
          "currency": { "type": "string", "example": "IDR" },
          "status": { "$ref": "#/components/schemas/PaymentStatus" },
          "description": { "type": ["string", "null"] },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": true,
            "description": "Metadata yang dikirim saat create charge (object, bukan JSON string)."
          },
          "paid_at": { "type": ["string", "null"], "format": "date-time" },
          "expired_at": { "type": ["string", "null"], "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "PaymentConfirmRequest": {
        "type": "object",
        "required": ["amount"],
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 100,
            "description": "Nominal yang dibayar pelanggan — harus sama persis dengan `amount_due` (termasuk kode unik).",
            "example": 150001
          },
          "proof_image": {
            "type": "string",
            "format": "binary",
            "description": "Bukti bayar (JPG/PNG, maks 5MB). Opsional — tanpa bukti, transaksi langsung `failed` jika dipanggil."
          }
        }
      },
      "PaymentConfirmResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/PaymentStatus" },
          "match_result": { "$ref": "#/components/schemas/MatchResult" },
          "ocr_amount": { "type": ["integer", "null"], "example": 150001 },
          "ocr_confidence": { "type": ["integer", "null"], "example": 91 },
          "paid_at": { "type": ["string", "null"], "format": "date-time" },
          "message": {
            "type": "string",
            "description": "Penjelasan tambahan, mis. `OCR confidence rendah, perlu review admin` atau `Nominal tidak cocok`"
          }
        }
      },
      "PaymentStatus": {
        "type": "string",
        "enum": ["pending", "success", "failed", "expired", "pending_review"]
      },
      "CallbackStatus": {
        "type": "string",
        "enum": ["pending", "success", "failed", "dead"]
      },
      "Callback": {
        "type": "object",
        "description": "Objek delivery webhook publik (curated — payload & response body tidak diekspos). Semua timestamp ISO-8601 UTC.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "payment_id": { "type": "string", "format": "uuid" },
          "event": {
            "type": "string",
            "enum": ["payment.success", "payment.failed", "payment.expired"]
          },
          "url": { "type": "string", "format": "uri", "description": "URL tujuan webhook" },
          "status": { "$ref": "#/components/schemas/CallbackStatus" },
          "attempts": { "type": "integer", "example": 2 },
          "max_attempts": { "type": "integer", "example": 3 },
          "response_code": {
            "type": ["integer", "null"],
            "description": "HTTP status dari endpoint kamu (null bila network error)",
            "example": 200
          },
          "next_retry_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Jadwal retry otomatis berikutnya (null bila tidak ada)"
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CallbackResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/Callback" }
        }
      },
      "CallbackListResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Callback" }
              },
              "page": { "type": "integer", "example": 1 },
              "per_page": { "type": "integer", "example": 20 },
              "total": { "type": "integer", "example": 42 }
            }
          }
        }
      },
      "MatchResult": {
        "type": ["string", "null"],
        "enum": [
          "auto_confirm",
          "low_confidence",
          "mismatch",
          "manual_confirm",
          "manual_reject",
          null
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "status": { "type": "string", "example": "ok" }
            }
          }
        }
      },
      "ChargeCreateResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/ChargeCreateResponse" }
        }
      },
      "PaymentResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/Payment" }
        }
      },
      "PaymentListResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Payment" }
              },
              "page": { "type": "integer", "example": 1 },
              "per_page": { "type": "integer", "example": 20 },
              "total": { "type": "integer", "example": 42 }
            }
          }
        }
      },
      "PaymentConfirmResponseWrapper": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/PaymentConfirmResponse" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "invalid_status",
                  "no_unique_code",
                  "unauthorized",
                  "not_found",
                  "expired",
                  "duplicate_order",
                  "duplicate_hash",
                  "proof_too_large",
                  "invalid_proof",
                  "payload_too_large",
                  "unsupported_media_type",
                  "rate_limited",
                  "internal_error"
                ],
                "example": "validation_error"
              },
              "message": { "type": "string", "example": "Amount minimal 100" },
              "details": {
                "type": "object",
                "additionalProperties": { "type": "array", "items": { "type": "string" } }
              }
            },
            "required": ["code", "message"]
          }
        }
      }
    }
  }
}
